.article-preview {
	background-color: $siteBackgroundColour;
	margin: 1%;
	border-radius: 5px;
	padding: 7px;
}
.article-container {
	p {
		margin-bottom: 1em;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.article-header {
	margin-bottom: 2%;
}
.article-body {
	
}