.form-error {
	background-color: $errorBackground;
	border: 1px solid $errorOutline;
	border-radius: 3px;
	box-shadow: inset 0 1px #fff;
	margin: 0.5% 1%;
	padding: 1%;
}
.form-error-header {
	color: $errorOutline;
	text-shadow: 0px 1px hsla(0,0%,100%,1);
}
.form-error-body {
	&::before {
		margin-top: 1%;
		margin-bottom: 1%;
		content: '';
		width: 100%;
		height: 1px;
		display: block;
		border-bottom: 1px solid $errorOutline;
		box-shadow: 0 1px #fff;
	}
	color: $errorOutline;
	text-shadow: 0px 1px hsla(0,0%,100%,1);
	//font-size: 16px;
}

.form-section {
	margin: 1%;
	//position: relative;
}

.form-input {
	margin: 0.5% 0;
	input {
		display: inline-block;
		font-size: 22px;
		background-color: #fff;
		border: 1px solid $layoutOutline;
		border-radius: 1px;
		box-shadow: inset 0 1px #fff;
		padding: 3px;
		box-shadow: 0 0px 2px fade-out($siteColour,1), inset 0px 2px 2px $layoutBackground;
		transition: all 150ms;
		width: 100%;
	}
	textarea {
		display: inline-block;
		font-size: 22px;
		background-color: #fff;
		border: 1px solid $layoutOutline;
		border-radius: 1px;
		box-shadow: inset 0 1px #fff;
		padding: 3px;
		box-shadow: 0 0px 2px fade-out($siteColour,1), inset 0px 2px 2px $layoutBackground;
		transition: border 150ms, box-shadow 150ms;
		width: 100%;
		resize: vertical;
	}

	input, textarea {
		/*
		&:required {
			border: 1px solid #f00;
			box-shadow: 0 0px 5px #f00, inset 0px 2px 2px darken($layoutBackground, 20%);
			background-color: hsla(0,100%,95%,1);
		}
		*/
		&:hover {
			border: 1px solid mix($siteColour,$layoutOutline,15%);
			box-shadow: 0 0px 2px $siteColour, inset 0px 2px 2px darken($layoutBackground, 10%);
		}
		&:focus {
			border: 1px solid $siteColour;
			box-shadow: 0 0px 2px $siteColour, inset 0px 2px 2px darken($layoutBackground, 20%);
		}	
	}

	&.email {
		
	}
	&.password {
		
	}
} 
.form-button {
	margin: 0.5% 0;
	display: flex;
	justify-content: space-between;
	button {
		border-radius: 3px;
		padding: 3px;
		height: 44px;
		font-size: 22px;
		margin: 0.5%;

		flex-grow: 1;

		&.green {
			border: 1px solid darken($NEPHRITIS,15%);
			box-shadow: inset 0px 1px lighten($NEPHRITIS,40%);
			background-color: $NEPHRITIS;
			color: lighten($NEPHRITIS,75%);
			text-shadow: 0px -1px darken($NEPHRITIS,15%);

			&:hover {
				background-color: lighten($NEPHRITIS,5%);
			}
			&:focus {
				background-color: darken($NEPHRITIS,5%);
			}

		}

		&.blue {
			border: 1px solid darken($PETERRIVER,15%);
			box-shadow: inset 0px 1px lighten($PETERRIVER,40%);
			background-color: $PETERRIVER;
			color: lighten($PETERRIVER,75%);
			text-shadow: 0px -1px darken($PETERRIVER,15%);

			&:hover {
				background-color: lighten($PETERRIVER,5%);
			}
			&:focus {
				background-color: darken($PETERRIVER,5%);
			}

		}

		&.red {
			border: 1px solid darken($POMEGRANATE,15%);
			box-shadow: inset 0px 1px lighten($POMEGRANATE,40%);
			background-color: $POMEGRANATE;
			color: lighten($POMEGRANATE,75%);
			text-shadow: 0px -1px darken($POMEGRANATE,15%);

			&:hover {
				background-color: lighten($POMEGRANATE,5%);
			}
			&:focus {
				background-color: darken($POMEGRANATE,5%);
			}
		}

		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}

		//width: 100%;
	}
}
.full-width {

}
.form-submit {

}
.form-help {
	left: 100%;
	background-color: $CLOUDS;
	position: absolute;
}