/* Base Colours */

$black: rgb(16,16,16);
$white: rgb(250,250,250);

$newBlack : #333;

$pure-red: hsl(0,100%,50%);
$pure-green: hsl(120,100%,50%);
$pure-blue: hsl(240,100%,50%);

/* flats */
$TURQUOISE: #1ABC9C;
$GREENSEA: #16A085;
$EMERALD: #2ECC71;
$NEPHRITIS: #27AE60;
$PETERRIVER: #3498DB;
$BELIZEHOLE: #2980B9;
$AMETHYST: #9B59B6;
$WISTERIA: #8E44AD;
$WETASPHALT: #34495E;
$MIDNIGHTBLUE: #2C3E50;
$SUNFLOWER: #F1C40F;
$ORANGE: #F39C12;
$CARROT: #E67E22;
$PUMPKIN: #D35400;
$ALIZARIN: #E74C3C;
$POMEGRANATE: #C0392B;
$CLOUDS: #ECF0F1;
$SILVER: #BDC3C7;
$CONCRETE: #95A5A6;
$ASBESTOS: #7F8C8D;

/* Site Base Colour */

$QUTBlue : #003866;
$otherBlue : #0E487F;

$siteColour : hsla(275,100%,50%,1);

$siteBackgroundColour: mix(#fff,$siteColour,97%);
//$siteBackgroundColour: hsla(300,5%,30%,1);
//$siteBackgroundColour: #181721;
//$siteBackgroundColour: #fff;

$fontColour: $newBlack;
$fontShadow: $black;

// Error colours
$errorRedBase : hsla(0,100%,50%,1);
$errorOutline : mix($errorRedBase,#fff,80%);
$errorBackground : mix($errorRedBase,#fff,15%);

// Basic layout colours
$layoutBase :hsla(0,0%,50%,1);
$layoutOutline : mix($layoutBase,#fff,80%);
$layoutBackground : mix($layoutBase,#fff,25%);