@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
@import "colours";
@import "reset";
@import "mixins";
@import "partials/site-wide";
@import "partials/typography";
@import "partials/forms";
@import "partials/navigation";
@import "partials/dashboard";
@import "partials/news";
@import "partials/article";
@import "partials/biography";

$base-font-size: 1rem;
body {
	font-family: "Noto Sans", sans-serif;
	background-color: $siteBackgroundColour;
	color: $fontColour;
}
*,*:after,*:before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}